:root {
  interpolate-size:allow-keywords
}

html {
    scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: black;
    transform-origin: left center;
    animation: hgrow linear;
    animation-timeline: scroll(root);
    z-index: 1000000;
}

@keyframes hgrow {
  from { transform: scaleX(0)}
  to { transform: scaleX(1)}
}

.inner {
    width: 100dvw;
    height: 800dvh;
    display: block;
    overflow: hidden;
}

.videoA {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-image: url(../assets/partA/0001.webp);
    filter: brightness(115%);
    background-size: cover; /* or contain */
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    animation: partAnimation 1ms steps(1) forwards;
    animation-timeline: scroll(root);
    animation-range: 0% 100%;
}

@keyframes partAnimation {
0.3787878787878788% { background-image: url(../assets/partA/0001.webp); filter: brightness(115%) }
0.7575757575757576% { background-image: url(../assets/partA/0002.webp); filter: brightness(115%) }
1.1363636363636362% { background-image: url(../assets/partA/0003.webp); filter: brightness(115%) }
1.5151515151515151% { background-image: url(../assets/partA/0004.webp); filter: brightness(115%) }
1.893939393939394% { background-image: url(../assets/partA/0005.webp); filter: brightness(115%) }
2.2727272727272725% { background-image: url(../assets/partA/0006.webp); filter: brightness(115%) }
2.6515151515151514% { background-image: url(../assets/partA/0007.webp); filter: brightness(115%) }
3.0303030303030303% { background-image: url(../assets/partA/0008.webp); filter: brightness(115%) }
3.409090909090909% { background-image: url(../assets/partA/0009.webp); filter: brightness(115%) }
3.787878787878788% { background-image: url(../assets/partA/0010.webp); filter: brightness(115%) }
4.166666666666667% { background-image: url(../assets/partA/0011.webp); filter: brightness(115%) }
4.545454545454545% { background-image: url(../assets/partA/0012.webp); filter: brightness(115%) }
4.924242424242424% { background-image: url(../assets/partA/0013.webp); filter: brightness(115%) }
5.303030303030303% { background-image: url(../assets/partA/0014.webp); filter: brightness(115%) }
5.681818181818182% { background-image: url(../assets/partA/0015.webp); filter: brightness(115%) }
6.0606060606060606% { background-image: url(../assets/partA/0016.webp); filter: brightness(115%) }
6.4393939393939394% { background-image: url(../assets/partA/0017.webp); filter: brightness(115%) }
6.818181818181818% { background-image: url(../assets/partA/0018.webp); filter: brightness(115%) }
7.196969696969697% { background-image: url(../assets/partA/0019.webp); filter: brightness(115%) }
7.575757575757576% { background-image: url(../assets/partA/0020.webp); filter: brightness(115%) }
7.954545454545454% { background-image: url(../assets/partA/0021.webp); filter: brightness(115%) }
8.333333333333334% { background-image: url(../assets/partA/0022.webp); filter: brightness(115%) }
8.712121212121213% { background-image: url(../assets/partA/0023.webp); filter: brightness(115%) }
9.09090909090909% { background-image: url(../assets/partA/0024.webp); filter: brightness(115%) }
9.469696969696969% { background-image: url(../assets/partA/0025.webp); filter: brightness(115%) }
9.848484848484848% { background-image: url(../assets/partA/0026.webp); filter: brightness(115%) }
10.227272727272727% { background-image: url(../assets/partA/0027.webp); filter: brightness(115%) }
10.606060606060606% { background-image: url(../assets/partA/0028.webp); filter: brightness(115%) }
10.984848484848484% { background-image: url(../assets/partA/0029.webp); filter: brightness(115%) }
11.363636363636363% { background-image: url(../assets/partA/0030.webp); filter: brightness(115%) }
11.742424242424242% { background-image: url(../assets/partA/0031.webp); filter: brightness(115%) }
12.121212121212121% { background-image: url(../assets/partA/0032.webp); filter: brightness(115%) }
12.5% { background-image: url(../assets/partA/0033.webp); filter: brightness(115%) }
12.878787878787879% { background-image: url(../assets/partA/0034.webp); filter: brightness(115%) }
13.257575757575758% { background-image: url(../assets/partA/0035.webp); filter: brightness(115%) }
13.636363636363637% { background-image: url(../assets/partA/0012.webp); filter: brightness(115%) }
14.015151515151516% { background-image: url(../assets/partA/0013.webp); filter: brightness(115%) }
14.393939393939394% { background-image: url(../assets/partA/0014.webp); filter: brightness(115%) }
14.772727272727273% { background-image: url(../assets/partA/0015.webp); filter: brightness(115%) }
15.151515151515152% { background-image: url(../assets/partA/0016.webp); filter: brightness(115%) }
15.53030303030303% { background-image: url(../assets/partA/0017.webp); filter: brightness(115%) }
15.909090909090908% { background-image: url(../assets/partA/0018.webp); filter: brightness(115%) }
16.28787878787879% { background-image: url(../assets/partA/0019.webp); filter: brightness(115%) }
16.666666666666668% { background-image: url(../assets/partA/0020.webp); filter: brightness(115%) }
17.045454545454547% { background-image: url(../assets/partA/0021.webp); filter: brightness(115%) }
17.424242424242426% { background-image: url(../assets/partA/0022.webp); filter: brightness(115%) }
17.803030303030305% { background-image: url(../assets/partA/0023.webp); filter: brightness(115%) }
18.18181818181818% { background-image: url(../assets/partA/0024.webp); filter: brightness(115%) }
18.56060606060606% { background-image: url(../assets/partA/0025.webp); filter: brightness(115%) }
18.939393939393938% { background-image: url(../assets/partA/0026.webp); filter: brightness(115%) }
19.318181818181817% { background-image: url(../assets/partA/0027.webp); filter: brightness(115%) }
19.696969696969695% { background-image: url(../assets/partA/0028.webp); filter: brightness(115%) }
20.075757575757574% { background-image: url(../assets/partA/0029.webp); filter: brightness(115%) }
20.454545454545453% { background-image: url(../assets/partA/0030.webp); filter: brightness(115%) }
20.833333333333332% { background-image: url(../assets/partA/0031.webp); filter: brightness(115%) }
21.21212121212121% { background-image: url(../assets/partA/0032.webp); filter: brightness(115%) }
21.59090909090909% { background-image: url(../assets/partA/0033.webp); filter: brightness(115%) }
21.96969696969697% { background-image: url(../assets/partA/0034.webp); filter: brightness(115%) }
22.348484848484848% { background-image: url(../assets/partA/0035.webp); filter: brightness(115%) }
22.727272727272727% { background-image: url(../assets/partA/0012.webp); filter: brightness(115%) }
23.106060606060606% { background-image: url(../assets/partA/0013.webp); filter: brightness(115%) }
23.484848484848484% { background-image: url(../assets/partA/0014.webp); filter: brightness(115%) }
23.863636363636363% { background-image: url(../assets/partA/0015.webp); filter: brightness(115%) }
24.242424242424242% { background-image: url(../assets/partA/0016.webp); filter: brightness(115%) }
24.62121212121212% { background-image: url(../assets/partA/0017.webp); filter: brightness(115%) }
25.0% { background-image: url(../assets/partA/0018.webp); filter: brightness(115%) }
25.37878787878788% { background-image: url(../assets/partA/0019.webp); filter: brightness(115%) }
25.757575757575758% { background-image: url(../assets/partA/0020.webp); filter: brightness(115%) }
26.136363636363637% { background-image: url(../assets/partA/0021.webp); filter: brightness(115%) }
26.515151515151516% { background-image: url(../assets/partA/0022.webp); filter: brightness(115%) }
26.893939393939394% { background-image: url(../assets/partA/0023.webp); filter: brightness(115%) }
27.272727272727273% { background-image: url(../assets/partA/0024.webp); filter: brightness(115%) }
27.651515151515152% { background-image: url(../assets/partA/0025.webp); filter: brightness(115%) }
28.03030303030303% { background-image: url(../assets/partA/0026.webp); filter: brightness(115%) }
28.40909090909091% { background-image: url(../assets/partA/0027.webp); filter: brightness(115%) }
28.78787878787879% { background-image: url(../assets/partA/0028.webp); filter: brightness(115%) }
29.166666666666668% { background-image: url(../assets/partA/0029.webp); filter: brightness(115%) }
29.545454545454547% { background-image: url(../assets/partA/0030.webp); filter: brightness(115%) }
29.924242424242426% { background-image: url(../assets/partA/0031.webp); filter: brightness(115%) }
30.303030303030305% { background-image: url(../assets/partA/0032.webp); filter: brightness(115%) }
30.68181818181818% { background-image: url(../assets/partA/0033.webp); filter: brightness(115%) }
31.06060606060606% { background-image: url(../assets/partA/0034.webp); filter: brightness(115%) }
31.439393939393938% { background-image: url(../assets/partA/0035.webp); filter: brightness(115%) }
31.818181818181817% { background-image: url(../assets/partA/0012.webp); filter: brightness(115%) }
32.196969696969695% { background-image: url(../assets/partA/0013.webp); filter: brightness(115%) }
32.57575757575758% { background-image: url(../assets/partA/0014.webp); filter: brightness(115%) }
32.95454545454545% { background-image: url(../assets/partA/0015.webp); filter: brightness(115%) }
33.333333333333336% { background-image: url(../assets/partA/0016.webp); filter: brightness(115%) }
33.71212121212121% { background-image: url(../assets/partA/0017.webp); filter: brightness(115%) }
34.09090909090909% { background-image: url(../assets/partA/0018.webp); filter: brightness(115%) }
34.46969696969697% { background-image: url(../assets/partA/0019.webp); filter: brightness(115%) }
34.84848484848485% { background-image: url(../assets/partA/0020.webp); filter: brightness(115%) }
35.22727272727273% { background-image: url(../assets/partA/0021.webp); filter: brightness(115%) }
35.60606060606061% { background-image: url(../assets/partA/0022.webp); filter: brightness(115%) }
35.984848484848484% { background-image: url(../assets/partA/0023.webp); filter: brightness(115%) }
36.36363636363636% { background-image: url(../assets/partA/0024.webp); filter: brightness(115%) }
36.74242424242424% { background-image: url(../assets/partA/0025.webp); filter: brightness(115%) }
37.12121212121212% { background-image: url(../assets/partA/0026.webp); filter: brightness(115%) }
37.5% { background-image: url(../assets/partA/0027.webp); filter: brightness(115%) }
37.878787878787875% { background-image: url(../assets/partA/0028.webp); filter: brightness(115%) }
38.25757575757576% { background-image: url(../assets/partA/0029.webp); filter: brightness(115%) }
38.63636363636363% { background-image: url(../assets/partA/0030.webp); filter: brightness(115%) }
39.015151515151516% { background-image: url(../assets/partA/0031.webp); filter: brightness(115%) }
39.39393939393939% { background-image: url(../assets/partA/0032.webp); filter: brightness(115%) }
39.77272727272727% { background-image: url(../assets/partA/0033.webp); filter: brightness(115%) }
40.15151515151515% { background-image: url(../assets/partA/0034.webp); filter: brightness(115%) }
40.53030303030303% { background-image: url(../assets/partA/0035.webp); filter: brightness(115%) }
40.90909090909091% { background-image: url(../assets/partA/0012.webp); filter: brightness(115%) }
41.28787878787879% { background-image: url(../assets/partA/0013.webp); filter: brightness(115%) }
41.666666666666664% { background-image: url(../assets/partA/0014.webp); filter: brightness(115%) }
42.04545454545455% { background-image: url(../assets/partA/0015.webp); filter: brightness(115%) }
42.42424242424242% { background-image: url(../assets/partA/0016.webp); filter: brightness(115%) }
42.803030303030305% { background-image: url(../assets/partA/0017.webp); filter: brightness(115%) }
43.18181818181818% { background-image: url(../assets/partA/0018.webp); filter: brightness(115%) }
43.56060606060606% { background-image: url(../assets/partA/0019.webp); filter: brightness(115%) }
43.93939393939394% { background-image: url(../assets/partA/0020.webp); filter: brightness(115%) }
44.31818181818182% { background-image: url(../assets/partA/0021.webp); filter: brightness(115%) }
44.696969696969695% { background-image: url(../assets/partA/0022.webp); filter: brightness(115%) }
45.07575757575758% { background-image: url(../assets/partA/0023.webp); filter: brightness(115%) }
45.45454545454545% { background-image: url(../assets/partA/0024.webp); filter: brightness(115%) }
45.833333333333336% { background-image: url(../assets/partA/0025.webp); filter: brightness(115%) }
46.21212121212121% { background-image: url(../assets/partA/0026.webp); filter: brightness(115%) }
46.59090909090909% { background-image: url(../assets/partA/0027.webp); filter: brightness(115%) }
46.96969696969697% { background-image: url(../assets/partA/0028.webp); filter: brightness(115%) }
47.34848484848485% { background-image: url(../assets/partA/0029.webp); filter: brightness(115%) }
47.72727272727273% { background-image: url(../assets/partA/0030.webp); filter: brightness(115%) }
48.10606060606061% { background-image: url(../assets/partA/0031.webp); filter: brightness(115%) }
48.484848484848484% { background-image: url(../assets/partA/0032.webp); filter: brightness(115%) }
48.86363636363636% { background-image: url(../assets/partA/0033.webp); filter: brightness(115%) }
49.24242424242424% { background-image: url(../assets/partA/0034.webp); filter: brightness(115%) }
49.62121212121212% { background-image: url(../assets/partA/0035.webp); filter: brightness(115%) }
50.0% { background-image: url(../assets/partA/0012.webp); filter: brightness(115%) }
50.378787878787875% { background-image: url(../assets/partA/0013.webp); filter: brightness(115%) }
50.75757575757576% { background-image: url(../assets/partA/0014.webp); filter: brightness(115%) }
51.13636363636363% { background-image: url(../assets/partA/0015.webp); filter: brightness(115%) }
51.515151515151516% { background-image: url(../assets/partA/0016.webp); filter: brightness(115%) }
51.89393939393939% { background-image: url(../assets/partA/0017.webp); filter: brightness(115%) }
52.27272727272727% { background-image: url(../assets/partA/0018.webp); filter: brightness(115%) }
52.65151515151515% { background-image: url(../assets/partA/0019.webp); filter: brightness(115%) }
53.03030303030303% { background-image: url(../assets/partA/0020.webp); filter: brightness(115%) }
53.40909090909091% { background-image: url(../assets/partA/0021.webp); filter: brightness(115%) }
53.78787878787879% { background-image: url(../assets/partA/0022.webp); filter: brightness(115%) }
54.166666666666664% { background-image: url(../assets/partA/0023.webp); filter: brightness(115%) }
54.54545454545455% { background-image: url(../assets/partA/0024.webp); filter: brightness(115%) }
54.92424242424242% { background-image: url(../assets/partA/0025.webp); filter: brightness(115%) }
55.303030303030305% { background-image: url(../assets/partA/0026.webp); filter: brightness(115%) }
55.68181818181818% { background-image: url(../assets/partA/0027.webp); filter: brightness(115%) }
56.06060606060606% { background-image: url(../assets/partA/0028.webp); filter: brightness(115%) }
56.43939393939394% { background-image: url(../assets/partA/0029.webp); filter: brightness(115%) }
56.81818181818182% { background-image: url(../assets/partA/0030.webp); filter: brightness(115%) }
57.196969696969695% { background-image: url(../assets/partA/0031.webp); filter: brightness(115%) }
57.57575757575758% { background-image: url(../assets/partA/0032.webp); filter: brightness(115%) }
57.95454545454545% { background-image: url(../assets/partA/0033.webp); filter: brightness(115%) }
58.333333333333336% { background-image: url(../assets/partA/0034.webp); filter: brightness(115%) }
58.71212121212121% { background-image: url(../assets/partA/0035.webp); filter: brightness(115%) }
59.09090909090909% { background-image: url(../assets/partA/0012.webp); filter: brightness(115%) }
59.46969696969697% { background-image: url(../assets/partA/0013.webp); filter: brightness(115%) }
59.84848484848485% { background-image: url(../assets/partA/0014.webp); filter: brightness(115%) }
60.22727272727273% { background-image: url(../assets/partA/0015.webp); filter: brightness(115%) }
60.60606060606061% { background-image: url(../assets/partA/0016.webp); filter: brightness(115%) }
60.984848484848484% { background-image: url(../assets/partA/0017.webp); filter: brightness(115%) }
61.36363636363636% { background-image: url(../assets/partA/0018.webp); filter: brightness(115%) }
61.74242424242424% { background-image: url(../assets/partA/0019.webp); filter: brightness(115%) }
62.12121212121212% { background-image: url(../assets/partA/0020.webp); filter: brightness(115%) }
62.5% { background-image: url(../assets/partA/0021.webp); filter: brightness(115%) }
62.878787878787875% { background-image: url(../assets/partA/0022.webp); filter: brightness(115%) }
63.25757575757576% { background-image: url(../assets/partA/0023.webp); filter: brightness(115%) }
63.63636363636363% { background-image: url(../assets/partA/0024.webp); filter: brightness(115%) }
64.01515151515152% { background-image: url(../assets/partA/0025.webp); filter: brightness(115%) }
64.39393939393939% { background-image: url(../assets/partA/0026.webp); filter: brightness(115%) }
64.77272727272727% { background-image: url(../assets/partA/0027.webp); filter: brightness(115%) }
65.15151515151516% { background-image: url(../assets/partA/0028.webp); filter: brightness(115%) }
65.53030303030303% { background-image: url(../assets/partA/0029.webp); filter: brightness(115%) }
65.9090909090909% { background-image: url(../assets/partA/0030.webp); filter: brightness(115%) }
66.28787878787878% { background-image: url(../assets/partA/0031.webp); filter: brightness(115%) }
66.66666666666667% { background-image: url(../assets/partA/0032.webp); filter: brightness(115%) }
67.04545454545455% { background-image: url(../assets/partA/0033.webp); filter: brightness(115%) }
67.42424242424242% { background-image: url(../assets/partA/0034.webp); filter: brightness(115%) }
67.8030303030303% { background-image: url(../assets/partA/0035.webp); filter: brightness(115%) }
68.18181818181819% { background-image: url(../assets/partA/0012.webp); filter: brightness(115%) }
68.56060606060606% { background-image: url(../assets/partA/0013.webp); filter: brightness(115%) }
68.93939393939394% { background-image: url(../assets/partA/0014.webp); filter: brightness(115%) }
69.31818181818181% { background-image: url(../assets/partA/0015.webp); filter: brightness(115%) }
69.6969696969697% { background-image: url(../assets/partA/0016.webp); filter: brightness(115%) }
70.07575757575758% { background-image: url(../assets/partA/0017.webp); filter: brightness(115%) }
70.45454545454545% { background-image: url(../assets/partA/0018.webp); filter: brightness(115%) }
70.83333333333333% { background-image: url(../assets/partA/0019.webp); filter: brightness(115%) }
71.21212121212122% { background-image: url(../assets/partA/0020.webp); filter: brightness(115%) }
71.5909090909091% { background-image: url(../assets/partA/0021.webp); filter: brightness(115%) }
71.96969696969697% { background-image: url(../assets/partA/0022.webp); filter: brightness(115%) }
72.34848484848484% { background-image: url(../assets/partA/0023.webp); filter: brightness(115%) }
72.72727272727272% { background-image: url(../assets/partA/0024.webp); filter: brightness(115%) }
73.10606060606061% { background-image: url(../assets/partA/0025.webp); filter: brightness(115%) }
73.48484848484848% { background-image: url(../assets/partA/0026.webp); filter: brightness(115%) }
73.86363636363636% { background-image: url(../assets/partA/0027.webp); filter: brightness(115%) }
74.24242424242424% { background-image: url(../assets/partA/0028.webp); filter: brightness(115%) }
74.62121212121212% { background-image: url(../assets/partA/0029.webp); filter: brightness(115%) }
75.0% { background-image: url(../assets/partA/0030.webp); filter: brightness(115%) }
75.37878787878788% { background-image: url(../assets/partA/0031.webp); filter: brightness(115%) }
75.75757575757575% { background-image: url(../assets/partA/0032.webp); filter: brightness(115%) }
76.13636363636364% { background-image: url(../assets/partA/0033.webp); filter: brightness(115%) }
76.51515151515152% { background-image: url(../assets/partA/0034.webp); filter: brightness(115%) }
76.89393939393939% { background-image: url(../assets/partA/0035.webp); filter: brightness(115%) }
77.27272727272727% { background-image: url(../assets/partA/0012.webp); filter: brightness(115%) }
77.65151515151516% { background-image: url(../assets/partA/0013.webp); filter: brightness(115%) }
78.03030303030303% { background-image: url(../assets/partA/0014.webp); filter: brightness(115%) }
78.4090909090909% { background-image: url(../assets/partA/0015.webp); filter: brightness(115%) }
78.78787878787878% { background-image: url(../assets/partA/0016.webp); filter: brightness(115%) }
79.16666666666667% { background-image: url(../assets/partA/0017.webp); filter: brightness(115%) }
79.54545454545455% { background-image: url(../assets/partA/0018.webp); filter: brightness(115%) }
79.92424242424242% { background-image: url(../assets/partA/0019.webp); filter: brightness(115%) }
80.3030303030303% { background-image: url(../assets/partA/0020.webp); filter: brightness(115%) }
80.68181818181819% { background-image: url(../assets/partA/0021.webp); filter: brightness(115%) }
81.06060606060606% { background-image: url(../assets/partA/0022.webp); filter: brightness(115%) }
81.43939393939394% { background-image: url(../assets/partA/0023.webp); filter: brightness(115%) }
81.81818181818181% { background-image: url(../assets/partA/0024.webp); filter: brightness(115%) }
82.1969696969697% { background-image: url(../assets/partA/0025.webp); filter: brightness(115%) }
82.57575757575758% { background-image: url(../assets/partA/0026.webp); filter: brightness(115%) }
82.95454545454545% { background-image: url(../assets/partA/0027.webp); filter: brightness(115%) }
83.33333333333333% { background-image: url(../assets/partA/0028.webp); filter: brightness(115%) }
83.71212121212122% { background-image: url(../assets/partA/0029.webp); filter: brightness(115%) }
84.0909090909091% { background-image: url(../assets/partA/0030.webp); filter: brightness(115%) }
84.46969696969697% { background-image: url(../assets/partA/0031.webp); filter: brightness(115%) }
84.84848484848484% { background-image: url(../assets/partA/0032.webp); filter: brightness(115%) }
85.22727272727272% { background-image: url(../assets/partA/0033.webp); filter: brightness(115%) }
85.60606060606061% { background-image: url(../assets/partA/0034.webp); filter: brightness(115%) }
85.98484848484848% { background-image: url(../assets/partA/0035.webp); filter: brightness(115%) }
86.36363636363636% { background-image: url(../assets/partA/0012.webp); filter: brightness(115%) }
86.74242424242424% { background-image: url(../assets/partA/0013.webp); filter: brightness(115%) }
87.12121212121212% { background-image: url(../assets/partA/0014.webp); filter: brightness(115%) }
87.5% { background-image: url(../assets/partA/0015.webp); filter: brightness(115%) }
87.87878787878788% { background-image: url(../assets/partA/0016.webp); filter: brightness(115%) }
88.25757575757575% { background-image: url(../assets/partA/0017.webp); filter: brightness(115%) }
88.63636363636364% { background-image: url(../assets/partA/0018.webp); filter: brightness(115%) }
89.01515151515152% { background-image: url(../assets/partA/0019.webp); filter: brightness(115%) }
89.39393939393939% { background-image: url(../assets/partA/0020.webp); filter: brightness(115%) }
89.77272727272727% { background-image: url(../assets/partA/0021.webp); filter: brightness(115%) }
90.15151515151516% { background-image: url(../assets/partA/0022.webp); filter: brightness(115%) }
90.53030303030303% { background-image: url(../assets/partA/0023.webp); filter: brightness(115%) }
90.9090909090909% { background-image: url(../assets/partA/0024.webp); filter: brightness(115%) }
91.28787878787878% { background-image: url(../assets/partA/0025.webp); filter: brightness(115%) }
91.66666666666667% { background-image: url(../assets/partA/0026.webp); filter: brightness(115%) }
92.04545454545455% { background-image: url(../assets/partA/0027.webp); filter: brightness(115%) }
92.42424242424242% { background-image: url(../assets/partA/0028.webp); filter: brightness(115%) }
92.8030303030303% { background-image: url(../assets/partA/0029.webp); filter: brightness(115%) }
93.18181818181819% { background-image: url(../assets/partA/0030.webp); filter: brightness(115%) }
93.56060606060606% { background-image: url(../assets/partA/0031.webp); filter: brightness(115%) }
93.93939393939394% { background-image: url(../assets/partA/0032.webp); filter: brightness(115%) }
94.31818181818181% { background-image: url(../assets/partA/0033.webp); filter: brightness(115%) }
94.6969696969697% { background-image: url(../assets/partA/0034.webp); filter: brightness(115%) }
95.07575757575758% { background-image: url(../assets/partA/0035.webp); filter: brightness(115%) }
95.45454545454545% { background-image: url(../assets/partA/0036.webp); filter: brightness(115%) }
95.83333333333333% { background-image: url(../assets/partA/0037.webp); filter: brightness(115%) }
96.21212121212122% { background-image: url(../assets/partA/0038.webp); filter: brightness(115%) }
96.5909090909091% { background-image: url(../assets/partA/0039.webp); filter: brightness(115%) }
96.96969696969697% { background-image: url(../assets/partA/0040.webp); filter: brightness(115%) }
97.34848484848484% { background-image: url(../assets/partA/0041.webp); filter: brightness(115%) }
97.72727272727272% { background-image: url(../assets/partA/0042.webp); filter: brightness(115%) }
98.10606060606061% { background-image: url(../assets/partA/0043.webp); filter: brightness(115%) }
98.48484848484848% { background-image: url(../assets/partA/0044.webp); filter: brightness(115%) }
98.86363636363636% { background-image: url(../assets/partA/0045.webp); filter: brightness(115%) }
99.24242424242424% { background-image: url(../assets/partA/0046.webp); filter: brightness(115%) }
99.62121212121212% { background-image: url(../assets/partA/0047.webp); filter: brightness(115%) }
100.0% { background-image: url(../assets/partA/0048.webp); filter: brightness(115%) }
}

@font-face {
    font-family: Archivo;
    src: url(./fonts/Archivo-VariableFont_wdth\,wght.ttf);
}

.content {
  width: 60dvw;
  height: 600dvh;
  overflow-y: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 115dvh;
  flex-wrap: nowrap;
  left:40dvw;
  justify-content: space-around;
}

.block {
  width: 40dvw;
  display: flex;
  flex-direction: column;
  top: 0;
  justify-content: center;
  background-color: white; 
  border: 1px solid black; 
  padding: 1dvw;
  z-index: 10000;
  margin: 5dvw;
}

.content img {
  float: right;
  width: 20%;
  height: auto;
  object-fit: contain;
}

.block p, ul, details {
  font-family: 'Archivo';
  font-size: max(12px, 1.1dvw);
  font-weight: normal;
  color: black;
  padding: 0;
  top: 0;
  line-height: 150%;
  margin-block-start: -1dvh;
  display: block;
  margin: 0;
}

.block a {
  font-family: 'Archivo';
  font-size: max(12px, 1.1dvw);
  font-weight: normal;
  color: black;
  padding: 0;
  top: 0;
  line-height: 150%;
  margin-block-start: -1dvh;
  margin: 0;
  text-decoration: underline;
}

.block summary, summary::-webkit-details-marker {
  margin-bottom: 1.2dvh;
  list-style: none;
  font-weight: bold;
}

summary::before {
  content: "→"; 
  display: inline-block;
  margin-right: 8px;
  transition: transform 0.2s ease;
} 

details[open] summary::before {
  transform: rotate(90deg);
  /* content: "↯" */
}

details[open] p {
  margin-bottom: 1.2dvh;
}

.block ul {
  margin-left: 1.5dvw;
}

.block li {
  padding-left: .8dvw;
}

.block h2 {
  font-family: 'Archivo';
  font-size: max(18px, 1.6dvw);
  font-weight: bold;
  color: black;
  padding: 0;
  top: 0;
  display: block;
  margin-top: 0dvh;
  margin-bottom: 1.5dvh;
}

.headers {
  position: fixed;
  width: 40dvh;
  height: 90dvh;
  left: 0;
  padding-left: 5dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 100000;
  animation: sticky linear forwards;
  animation-range: 0% 100%;
  animation-timeline: scroll(root);
}

.headers a {
  font-family: 'Archivo';
  font-size: max(10px, 1.1dvw);
  font-weight: bold;
  color: black;
  line-height: 150%;
  text-decoration: none;
}

.headers a:hover {
  text-decoration: underline;
}

@keyframes sticky {
  from { top: 100vh; left: 20dvw; transform: rotate(-48deg) translateX(65%) translateY(20%); position: fixed;}
  10% { top: 5vh; left: 0; transform: rotate(0) translateX(0%) translateY(0%); position: fixed;}
  90% { top: 5vh; left: 0; position: fixed;}
  to { top: -100dvh; left: 0; position: fixed;}
}

@keyframes hgrow-hshrink {
  from { width: 0;}
  20% { width: fit-content}
  80% { width: fit-content}
  to { width: 0;}
}

@keyframes slide-up {
  to { transform: rotate(-90deg); top: -100dvh;}
}

.inverted {
  width: 0;
  position: relative;
  overflow: hidden;
  animation: hgrow-hshrink 1ms ease-in-out forwards;
  animation-timeline: scroll(root);
}

.inverted a {
  font-family: 'Archivo';
  font-size: max(10px, 1.1dvw);
  font-weight: bold;
  color: white;
  line-height: 150%;
  text-decoration: none;
  background-color: black;
  text-wrap: nowrap;
  padding: 0.2dvh 0.5dvw;
}

.inverted a:hover {
  text-decoration: none
}

body::before {position: absolute; width: 0; height: 0; overflow: hidden; z-index: -9999; content: url(../assets/partA/0001.webp)
url(../assets/partA/0002.webp)
url(../assets/partA/0003.webp)
url(../assets/partA/0004.webp)
url(../assets/partA/0005.webp)
url(../assets/partA/0006.webp)
url(../assets/partA/0007.webp)
url(../assets/partA/0008.webp)
url(../assets/partA/0009.webp)
url(../assets/partA/0010.webp)
url(../assets/partA/0011.webp)
url(../assets/partA/0012.webp)
url(../assets/partA/0013.webp)
url(../assets/partA/0014.webp)
url(../assets/partA/0015.webp)
url(../assets/partA/0016.webp)
url(../assets/partA/0017.webp)
url(../assets/partA/0018.webp)
url(../assets/partA/0019.webp)
url(../assets/partA/0020.webp)
url(../assets/partA/0021.webp)
url(../assets/partA/0022.webp)
url(../assets/partA/0023.webp)
url(../assets/partA/0024.webp)
url(../assets/partA/0025.webp)
url(../assets/partA/0026.webp)
url(../assets/partA/0027.webp)
url(../assets/partA/0028.webp)
url(../assets/partA/0029.webp)
url(../assets/partA/0030.webp)
url(../assets/partA/0031.webp)
url(../assets/partA/0032.webp)
url(../assets/partA/0033.webp)
url(../assets/partA/0034.webp)
url(../assets/partA/0035.webp)
url(../assets/partA/0036.webp)
url(../assets/partA/0037.webp)
url(../assets/partA/0038.webp)
url(../assets/partA/0039.webp)
url(../assets/partA/0040.webp)
url(../assets/partA/0041.webp)
url(../assets/partA/0042.webp)
url(../assets/partA/0043.webp)
url(../assets/partA/0044.webp)
url(../assets/partA/0045.webp)
url(../assets/partA/0046.webp)
url(../assets/partA/0047.webp)
url(../assets/partA/0048.webp)
/* url(../assets/partA/0049.webp)
url(../assets/partA/0050.webp)
url(../assets/partA/0051.webp)
url(../assets/partA/0052.webp)
url(../assets/partA/0053.webp)
url(../assets/partA/0054.webp) */
url(./fonts/Archivo-VariableFont_wdth\,wght.ttf); 
}