html {
    scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: black;
    transform-origin: left center;
    animation: hgrow linear;
    animation-timeline: scroll(root);
}

@keyframes hgrow {
  from { transform: scaleX(0)}
  to { transform: scaleX(1)}
}

.inner {
    width: 100dvw;
    height: 800dvh;
    display: block;
    overflow: hidden;
}

.videoA {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-image: url(../assets/partA/0001.webp);
    background-size: cover; /* or contain */
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    animation: partAnimation 1ms steps(1) forwards;
    animation-timeline: scroll(root);
    animation-range: 0% 80%;
}

@keyframes partAnimation {
0.3508771929824561% {background-image: url(../assets/partA/0001.webp)} 
0.7017543859649122% {background-image: url(../assets/partA/0002.webp)} 
1.0526315789473684% {background-image: url(../assets/partA/0003.webp)} 
1.4035087719298245% {background-image: url(../assets/partA/0004.webp)} 
1.7543859649122806% {background-image: url(../assets/partA/0005.webp)} 
2.1052631578947367% {background-image: url(../assets/partA/0006.webp)} 
2.4561403508771926% {background-image: url(../assets/partA/0007.webp)} 
2.807017543859649% {background-image: url(../assets/partA/0008.webp)} 
3.1578947368421053% {background-image: url(../assets/partA/0009.webp)} 
3.508771929824561% {background-image: url(../assets/partA/0010.webp)} 
3.859649122807017% {background-image: url(../assets/partA/0011.webp)} 
4.2105263157894735% {background-image: url(../assets/partA/0012.webp)} 
4.56140350877193% {background-image: url(../assets/partA/0013.webp)} 
4.912280701754385% {background-image: url(../assets/partA/0014.webp)} 
5.263157894736842% {background-image: url(../assets/partA/0015.webp)} 
5.614035087719298% {background-image: url(../assets/partA/0016.webp)} 
5.964912280701754% {background-image: url(../assets/partA/0017.webp)} 
6.315789473684211% {background-image: url(../assets/partA/0018.webp)} 
6.666666666666666% {background-image: url(../assets/partA/0019.webp)} 
7.017543859649122% {background-image: url(../assets/partA/0020.webp)} 
7.368421052631579% {background-image: url(../assets/partA/0021.webp)} 
7.719298245614034% {background-image: url(../assets/partA/0022.webp)} 
8.070175438596491% {background-image: url(../assets/partA/0023.webp)} 
8.421052631578947% {background-image: url(../assets/partA/0024.webp)} 
8.771929824561402% {background-image: url(../assets/partA/0025.webp)} 
9.12280701754386% {background-image: url(../assets/partA/0026.webp)} 
9.473684210526315% {background-image: url(../assets/partA/0027.webp)} 
9.82456140350877% {background-image: url(../assets/partA/0028.webp)} 
10.175438596491228% {background-image: url(../assets/partA/0029.webp)} 
10.526315789473683% {background-image: url(../assets/partA/0030.webp)} 
10.87719298245614% {background-image: url(../assets/partA/0031.webp)} 
11.228070175438596% {background-image: url(../assets/partA/0032.webp)} 
11.578947368421051% {background-image: url(../assets/partA/0033.webp)} 
11.929824561403509% {background-image: url(../assets/partA/0034.webp)} 
12.280701754385964% {background-image: url(../assets/partA/0035.webp)} 
12.631578947368421% {background-image: url(../assets/partA/0036.webp)} 
12.982456140350877% {background-image: url(../assets/partA/0037.webp)} 
13.333333333333332% {background-image: url(../assets/partA/0038.webp)} 
13.68421052631579% {background-image: url(../assets/partA/0039.webp)} 
14.035087719298245% {background-image: url(../assets/partA/0040.webp)} 
14.3859649122807% {background-image: url(../assets/partA/0041.webp)} 
14.736842105263158% {background-image: url(../assets/partA/0021.webp)} 
15.087719298245613% {background-image: url(../assets/partA/0022.webp)} 
15.438596491228068% {background-image: url(../assets/partA/0023.webp)} 
15.789473684210526% {background-image: url(../assets/partA/0024.webp)} 
16.140350877192983% {background-image: url(../assets/partA/0025.webp)} 
16.49122807017544% {background-image: url(../assets/partA/0026.webp)} 
16.842105263157894% {background-image: url(../assets/partA/0027.webp)} 
17.19298245614035% {background-image: url(../assets/partA/0028.webp)} 
17.543859649122805% {background-image: url(../assets/partA/0029.webp)} 
17.894736842105264% {background-image: url(../assets/partA/0030.webp)} 
18.24561403508772% {background-image: url(../assets/partA/0031.webp)} 
18.596491228070175% {background-image: url(../assets/partA/0032.webp)} 
18.94736842105263% {background-image: url(../assets/partA/0033.webp)} 
19.298245614035086% {background-image: url(../assets/partA/0034.webp)} 
19.64912280701754% {background-image: url(../assets/partA/0035.webp)} 
20.0% {background-image: url(../assets/partA/0036.webp)} 
20.350877192982455% {background-image: url(../assets/partA/0037.webp)} 
20.70175438596491% {background-image: url(../assets/partA/0038.webp)} 
21.052631578947366% {background-image: url(../assets/partA/0039.webp)} 
21.403508771929822% {background-image: url(../assets/partA/0040.webp)} 
21.75438596491228% {background-image: url(../assets/partA/0041.webp)} 
22.105263157894736% {background-image: url(../assets/partA/0021.webp)} 
22.45614035087719% {background-image: url(../assets/partA/0022.webp)} 
22.807017543859647% {background-image: url(../assets/partA/0023.webp)} 
23.157894736842103% {background-image: url(../assets/partA/0024.webp)} 
23.50877192982456% {background-image: url(../assets/partA/0025.webp)} 
23.859649122807017% {background-image: url(../assets/partA/0026.webp)} 
24.210526315789473% {background-image: url(../assets/partA/0027.webp)} 
24.561403508771928% {background-image: url(../assets/partA/0028.webp)} 
24.912280701754383% {background-image: url(../assets/partA/0029.webp)} 
25.263157894736842% {background-image: url(../assets/partA/0030.webp)} 
25.614035087719298% {background-image: url(../assets/partA/0031.webp)} 
25.964912280701753% {background-image: url(../assets/partA/0032.webp)} 
26.31578947368421% {background-image: url(../assets/partA/0033.webp)} 
26.666666666666664% {background-image: url(../assets/partA/0034.webp)} 
27.01754385964912% {background-image: url(../assets/partA/0035.webp)} 
27.36842105263158% {background-image: url(../assets/partA/0036.webp)} 
27.719298245614034% {background-image: url(../assets/partA/0037.webp)} 
28.07017543859649% {background-image: url(../assets/partA/0038.webp)} 
28.421052631578945% {background-image: url(../assets/partA/0039.webp)} 
28.7719298245614% {background-image: url(../assets/partA/0040.webp)} 
29.12280701754386% {background-image: url(../assets/partA/0041.webp)} 
29.473684210526315% {background-image: url(../assets/partA/0021.webp)} 
29.82456140350877% {background-image: url(../assets/partA/0022.webp)} 
30.175438596491226% {background-image: url(../assets/partA/0023.webp)} 
30.52631578947368% {background-image: url(../assets/partA/0024.webp)} 
30.877192982456137% {background-image: url(../assets/partA/0025.webp)} 
31.228070175438596% {background-image: url(../assets/partA/0026.webp)} 
31.57894736842105% {background-image: url(../assets/partA/0027.webp)} 
31.929824561403507% {background-image: url(../assets/partA/0028.webp)} 
32.280701754385966% {background-image: url(../assets/partA/0029.webp)} 
32.63157894736842% {background-image: url(../assets/partA/0030.webp)} 
32.98245614035088% {background-image: url(../assets/partA/0031.webp)} 
33.33333333333333% {background-image: url(../assets/partA/0032.webp)} 
33.68421052631579% {background-image: url(../assets/partA/0033.webp)} 
34.03508771929825% {background-image: url(../assets/partA/0034.webp)} 
34.3859649122807% {background-image: url(../assets/partA/0035.webp)} 
34.73684210526316% {background-image: url(../assets/partA/0036.webp)} 
35.08771929824561% {background-image: url(../assets/partA/0037.webp)} 
35.43859649122807% {background-image: url(../assets/partA/0038.webp)} 
35.78947368421053% {background-image: url(../assets/partA/0039.webp)} 
36.14035087719298% {background-image: url(../assets/partA/0040.webp)} 
36.49122807017544% {background-image: url(../assets/partA/0041.webp)} 
36.84210526315789% {background-image: url(../assets/partA/0021.webp)} 
37.19298245614035% {background-image: url(../assets/partA/0022.webp)} 
37.54385964912281% {background-image: url(../assets/partA/0023.webp)} 
37.89473684210526% {background-image: url(../assets/partA/0024.webp)} 
38.24561403508772% {background-image: url(../assets/partA/0025.webp)} 
38.59649122807017% {background-image: url(../assets/partA/0026.webp)} 
38.94736842105263% {background-image: url(../assets/partA/0027.webp)} 
39.29824561403508% {background-image: url(../assets/partA/0028.webp)} 
39.64912280701754% {background-image: url(../assets/partA/0029.webp)} 
40.0% {background-image: url(../assets/partA/0030.webp)} 
40.35087719298245% {background-image: url(../assets/partA/0031.webp)} 
40.70175438596491% {background-image: url(../assets/partA/0032.webp)} 
41.05263157894736% {background-image: url(../assets/partA/0033.webp)} 
41.40350877192982% {background-image: url(../assets/partA/0034.webp)} 
41.75438596491228% {background-image: url(../assets/partA/0035.webp)} 
42.10526315789473% {background-image: url(../assets/partA/0036.webp)} 
42.45614035087719% {background-image: url(../assets/partA/0037.webp)} 
42.807017543859644% {background-image: url(../assets/partA/0038.webp)} 
43.1578947368421% {background-image: url(../assets/partA/0039.webp)} 
43.50877192982456% {background-image: url(../assets/partA/0040.webp)} 
43.859649122807014% {background-image: url(../assets/partA/0041.webp)} 
44.21052631578947% {background-image: url(../assets/partA/0021.webp)} 
44.561403508771924% {background-image: url(../assets/partA/0022.webp)} 
44.91228070175438% {background-image: url(../assets/partA/0023.webp)} 
45.26315789473684% {background-image: url(../assets/partA/0024.webp)} 
45.614035087719294% {background-image: url(../assets/partA/0025.webp)} 
45.96491228070175% {background-image: url(../assets/partA/0026.webp)} 
46.315789473684205% {background-image: url(../assets/partA/0027.webp)} 
46.666666666666664% {background-image: url(../assets/partA/0028.webp)} 
47.01754385964912% {background-image: url(../assets/partA/0029.webp)} 
47.368421052631575% {background-image: url(../assets/partA/0030.webp)} 
47.719298245614034% {background-image: url(../assets/partA/0031.webp)} 
48.070175438596486% {background-image: url(../assets/partA/0032.webp)} 
48.421052631578945% {background-image: url(../assets/partA/0033.webp)} 
48.771929824561404% {background-image: url(../assets/partA/0034.webp)} 
49.122807017543856% {background-image: url(../assets/partA/0035.webp)} 
49.473684210526315% {background-image: url(../assets/partA/0036.webp)} 
49.82456140350877% {background-image: url(../assets/partA/0037.webp)} 
50.175438596491226% {background-image: url(../assets/partA/0038.webp)} 
50.526315789473685% {background-image: url(../assets/partA/0039.webp)} 
50.87719298245614% {background-image: url(../assets/partA/0040.webp)} 
51.228070175438596% {background-image: url(../assets/partA/0041.webp)} 
51.57894736842105% {background-image: url(../assets/partA/0021.webp)} 
51.92982456140351% {background-image: url(../assets/partA/0022.webp)} 
52.28070175438596% {background-image: url(../assets/partA/0023.webp)} 
52.63157894736842% {background-image: url(../assets/partA/0024.webp)} 
52.98245614035088% {background-image: url(../assets/partA/0025.webp)} 
53.33333333333333% {background-image: url(../assets/partA/0026.webp)} 
53.68421052631579% {background-image: url(../assets/partA/0027.webp)} 
54.03508771929824% {background-image: url(../assets/partA/0028.webp)} 
54.3859649122807% {background-image: url(../assets/partA/0029.webp)} 
54.73684210526316% {background-image: url(../assets/partA/0030.webp)} 
55.08771929824561% {background-image: url(../assets/partA/0031.webp)} 
55.43859649122807% {background-image: url(../assets/partA/0032.webp)} 
55.78947368421052% {background-image: url(../assets/partA/0033.webp)} 
56.14035087719298% {background-image: url(../assets/partA/0034.webp)} 
56.49122807017544% {background-image: url(../assets/partA/0035.webp)} 
56.84210526315789% {background-image: url(../assets/partA/0036.webp)} 
57.19298245614035% {background-image: url(../assets/partA/0037.webp)} 
57.5438596491228% {background-image: url(../assets/partA/0038.webp)} 
57.89473684210526% {background-image: url(../assets/partA/0039.webp)} 
58.24561403508772% {background-image: url(../assets/partA/0040.webp)} 
58.59649122807017% {background-image: url(../assets/partA/0041.webp)} 
58.94736842105263% {background-image: url(../assets/partA/0021.webp)} 
59.29824561403508% {background-image: url(../assets/partA/0022.webp)} 
59.64912280701754% {background-image: url(../assets/partA/0023.webp)} 
60.0% {background-image: url(../assets/partA/0024.webp)} 
60.35087719298245% {background-image: url(../assets/partA/0025.webp)} 
60.70175438596491% {background-image: url(../assets/partA/0026.webp)} 
61.05263157894736% {background-image: url(../assets/partA/0027.webp)} 
61.40350877192982% {background-image: url(../assets/partA/0028.webp)} 
61.754385964912274% {background-image: url(../assets/partA/0029.webp)} 
62.10526315789473% {background-image: url(../assets/partA/0030.webp)} 
62.45614035087719% {background-image: url(../assets/partA/0031.webp)} 
62.807017543859644% {background-image: url(../assets/partA/0032.webp)} 
63.1578947368421% {background-image: url(../assets/partA/0033.webp)} 
63.508771929824555% {background-image: url(../assets/partA/0034.webp)} 
63.859649122807014% {background-image: url(../assets/partA/0035.webp)} 
64.21052631578947% {background-image: url(../assets/partA/0036.webp)} 
64.56140350877193% {background-image: url(../assets/partA/0037.webp)} 
64.91228070175438% {background-image: url(../assets/partA/0038.webp)} 
65.26315789473684% {background-image: url(../assets/partA/0039.webp)} 
65.6140350877193% {background-image: url(../assets/partA/0040.webp)} 
65.96491228070175% {background-image: url(../assets/partA/0041.webp)} 
66.3157894736842% {background-image: url(../assets/partA/0021.webp)} 
66.66666666666666% {background-image: url(../assets/partA/0022.webp)} 
67.01754385964912% {background-image: url(../assets/partA/0023.webp)} 
67.36842105263158% {background-image: url(../assets/partA/0024.webp)} 
67.71929824561403% {background-image: url(../assets/partA/0025.webp)} 
68.0701754385965% {background-image: url(../assets/partA/0026.webp)} 
68.42105263157895% {background-image: url(../assets/partA/0027.webp)} 
68.7719298245614% {background-image: url(../assets/partA/0028.webp)} 
69.12280701754385% {background-image: url(../assets/partA/0029.webp)} 
69.47368421052632% {background-image: url(../assets/partA/0030.webp)} 
69.82456140350877% {background-image: url(../assets/partA/0031.webp)} 
70.17543859649122% {background-image: url(../assets/partA/0032.webp)} 
70.52631578947368% {background-image: url(../assets/partA/0033.webp)} 
70.87719298245614% {background-image: url(../assets/partA/0034.webp)} 
71.22807017543859% {background-image: url(../assets/partA/0035.webp)} 
71.57894736842105% {background-image: url(../assets/partA/0036.webp)} 
71.9298245614035% {background-image: url(../assets/partA/0037.webp)} 
72.28070175438596% {background-image: url(../assets/partA/0038.webp)} 
72.63157894736841% {background-image: url(../assets/partA/0039.webp)} 
72.98245614035088% {background-image: url(../assets/partA/0040.webp)} 
73.33333333333333% {background-image: url(../assets/partA/0041.webp)} 
73.68421052631578% {background-image: url(../assets/partA/0021.webp)} 
74.03508771929825% {background-image: url(../assets/partA/0022.webp)} 
74.3859649122807% {background-image: url(../assets/partA/0023.webp)} 
74.73684210526315% {background-image: url(../assets/partA/0024.webp)} 
75.08771929824562% {background-image: url(../assets/partA/0025.webp)} 
75.43859649122807% {background-image: url(../assets/partA/0026.webp)} 
75.78947368421052% {background-image: url(../assets/partA/0027.webp)} 
76.14035087719297% {background-image: url(../assets/partA/0028.webp)} 
76.49122807017544% {background-image: url(../assets/partA/0029.webp)} 
76.84210526315789% {background-image: url(../assets/partA/0030.webp)} 
77.19298245614034% {background-image: url(../assets/partA/0031.webp)} 
77.54385964912281% {background-image: url(../assets/partA/0032.webp)} 
77.89473684210526% {background-image: url(../assets/partA/0033.webp)} 
78.24561403508771% {background-image: url(../assets/partA/0034.webp)} 
78.59649122807016% {background-image: url(../assets/partA/0035.webp)} 
78.94736842105263% {background-image: url(../assets/partA/0036.webp)} 
79.29824561403508% {background-image: url(../assets/partA/0037.webp)} 
79.64912280701753% {background-image: url(../assets/partA/0038.webp)} 
80.0% {background-image: url(../assets/partA/0039.webp)} 
80.35087719298245% {background-image: url(../assets/partA/0040.webp)} 
80.7017543859649% {background-image: url(../assets/partA/0041.webp)} 
81.05263157894737% {background-image: url(../assets/partA/0021.webp)} 
81.40350877192982% {background-image: url(../assets/partA/0022.webp)} 
81.75438596491227% {background-image: url(../assets/partA/0023.webp)} 
82.10526315789473% {background-image: url(../assets/partA/0024.webp)} 
82.45614035087719% {background-image: url(../assets/partA/0025.webp)} 
82.80701754385964% {background-image: url(../assets/partA/0026.webp)} 
83.1578947368421% {background-image: url(../assets/partA/0027.webp)} 
83.50877192982456% {background-image: url(../assets/partA/0028.webp)} 
83.85964912280701% {background-image: url(../assets/partA/0029.webp)} 
84.21052631578947% {background-image: url(../assets/partA/0030.webp)} 
84.56140350877193% {background-image: url(../assets/partA/0031.webp)} 
84.91228070175438% {background-image: url(../assets/partA/0032.webp)} 
85.26315789473684% {background-image: url(../assets/partA/0033.webp)} 
85.61403508771929% {background-image: url(../assets/partA/0034.webp)} 
85.96491228070175% {background-image: url(../assets/partA/0035.webp)} 
86.3157894736842% {background-image: url(../assets/partA/0036.webp)} 
86.66666666666666% {background-image: url(../assets/partA/0037.webp)} 
87.01754385964912% {background-image: url(../assets/partA/0038.webp)} 
87.36842105263158% {background-image: url(../assets/partA/0039.webp)} 
87.71929824561403% {background-image: url(../assets/partA/0040.webp)} 
88.0701754385965% {background-image: url(../assets/partA/0041.webp)} 
88.42105263157895% {background-image: url(../assets/partA/0021.webp)} 
88.7719298245614% {background-image: url(../assets/partA/0022.webp)} 
89.12280701754385% {background-image: url(../assets/partA/0023.webp)} 
89.47368421052632% {background-image: url(../assets/partA/0024.webp)} 
89.82456140350877% {background-image: url(../assets/partA/0025.webp)} 
90.17543859649122% {background-image: url(../assets/partA/0026.webp)} 
90.52631578947368% {background-image: url(../assets/partA/0027.webp)} 
90.87719298245614% {background-image: url(../assets/partA/0028.webp)} 
91.22807017543859% {background-image: url(../assets/partA/0029.webp)} 
91.57894736842104% {background-image: url(../assets/partA/0030.webp)} 
91.9298245614035% {background-image: url(../assets/partA/0031.webp)} 
92.28070175438596% {background-image: url(../assets/partA/0032.webp)} 
92.63157894736841% {background-image: url(../assets/partA/0033.webp)} 
92.98245614035088% {background-image: url(../assets/partA/0034.webp)} 
93.33333333333333% {background-image: url(../assets/partA/0035.webp)} 
93.68421052631578% {background-image: url(../assets/partA/0036.webp)} 
94.03508771929825% {background-image: url(../assets/partA/0037.webp)} 
94.3859649122807% {background-image: url(../assets/partA/0038.webp)} 
94.73684210526315% {background-image: url(../assets/partA/0039.webp)} 
95.0877192982456% {background-image: url(../assets/partA/0040.webp)} 
95.43859649122807% {background-image: url(../assets/partA/0041.webp)} 
95.78947368421052% {background-image: url(../assets/partA/0042.webp)} 
96.14035087719297% {background-image: url(../assets/partA/0043.webp)} 
96.49122807017544% {background-image: url(../assets/partA/0044.webp)} 
96.84210526315789% {background-image: url(../assets/partA/0045.webp)} 
97.19298245614034% {background-image: url(../assets/partA/0046.webp)} 
97.54385964912281% {background-image: url(../assets/partA/0047.webp)} 
97.89473684210526% {background-image: url(../assets/partA/0048.webp)} 
98.24561403508771% {background-image: url(../assets/partA/0049.webp)} 
98.59649122807016% {background-image: url(../assets/partA/0050.webp)} 
98.94736842105263% {background-image: url(../assets/partA/0051.webp)} 
99.29824561403508% {background-image: url(../assets/partA/0052.webp)} 
99.64912280701753% {background-image: url(../assets/partA/0053.webp)} 
100.0% {background-image: url(../assets/partA/0054.webp)} }

@font-face {
    font-family: Archivo;
    src: url(./fonts/Archivo-VariableFont_wdth\,wght.ttf);
}

h2, a {
    font-family: 'Archivo';
    font-size: max(12px, 1.2dvw);
    font-weight: bold;
    color: black;
    text-decoration: none
}

p {
    font-family: 'Archivo';
    font-size: max(15px, 1.3dvw);
    font-weight: normal;
    color: black;
}

/* idea: have everything move along wheel */
.content {
  width: 100%;
  height: 600dvh;
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 105dvh;
  gap: 40dvh;
  flex-wrap: nowrap;
  left:0;
  padding-left:50dvw;
}

.block {
  width: 40dvw;
  display: flex;
  flex-direction: column;
  left: 50dvw;
  top: 0;
}

.block p, ul {
  font-family: 'Archivo';
  font-size: max(14px, 1.2dvw);
  font-weight: normal;
  color: black;
  padding: 0;
  top: 0;
  line-height: 150%;
  margin-block-start: -1dvh;
}

.block ul {
  margin-left: 1.5dvw;
}

.block li {
  padding-left: .8dvw;
}

.block h2 {
  font-family: 'Archivo';
  font-size: max(24px, 2dvw);
  font-weight: bold;
  color: black;
  padding: 0;
  top: 0;
}

.minimised {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 100dvh;
}

@keyframes shrink-slide-1 {
  from { transform: scale(40%); left: 70dvh; top: 100dvh; position: fixed;}
  to { transform: scale(20%); left: -18dvh; top: -12dvh; position: fixed;}
}

@keyframes shrink-slide-2 {
  from { transform: scale(40%); left: 60dvh; top: 100dvh; position: fixed;}
  to { transform: scale(20%); left: -12dvh; top: -5dvh; position: fixed;}
}

@keyframes shrink-slide-3 {
  from { transform: scale(40%); left: 60dvh; top: 100dvh; position: fixed;}
  to { transform: scale(20%); left: -2dvh; top: 15dvh; position: fixed;}
}

@keyframes shrink-slide-4 {
  from { transform: scale(40%); left: 60dvh; top: 100dvh; position: fixed;}
  to { transform: scale(20%); left: 14dvh; top: 24dvh; position: fixed;}
}

body::before {position: absolute; width: 0; height: 0; overflow: hidden; z-index: -9999; content: url(../assets/partA/0001.webp)
url(../assets/partA/0002.webp)
url(../assets/partA/0003.webp)
url(../assets/partA/0004.webp)
url(../assets/partA/0005.webp)
url(../assets/partA/0006.webp)
url(../assets/partA/0007.webp)
url(../assets/partA/0008.webp)
url(../assets/partA/0009.webp)
url(../assets/partA/0010.webp)
url(../assets/partA/0011.webp)
url(../assets/partA/0012.webp)
url(../assets/partA/0013.webp)
url(../assets/partA/0014.webp)
url(../assets/partA/0015.webp)
url(../assets/partA/0016.webp)
url(../assets/partA/0017.webp)
url(../assets/partA/0018.webp)
url(../assets/partA/0019.webp)
url(../assets/partA/0020.webp)
url(../assets/partA/0021.webp)
url(../assets/partA/0022.webp)
url(../assets/partA/0023.webp)
url(../assets/partA/0024.webp)
url(../assets/partA/0025.webp)
url(../assets/partA/0026.webp)
url(../assets/partA/0027.webp)
url(../assets/partA/0028.webp)
url(../assets/partA/0029.webp)
url(../assets/partA/0030.webp)
url(../assets/partA/0031.webp)
url(../assets/partA/0032.webp)
url(../assets/partA/0033.webp)
url(../assets/partA/0034.webp)
url(../assets/partA/0035.webp)
url(../assets/partA/0036.webp)
url(../assets/partA/0037.webp)
url(../assets/partA/0038.webp)
url(../assets/partA/0039.webp)
url(../assets/partA/0040.webp)
url(../assets/partA/0041.webp)
url(../assets/partA/0042.webp)
url(../assets/partA/0043.webp)
url(../assets/partA/0044.webp)
url(../assets/partA/0045.webp)
url(../assets/partA/0046.webp)
url(../assets/partA/0047.webp)
url(../assets/partA/0048.webp)
url(../assets/partA/0049.webp)
url(../assets/partA/0050.webp)
url(../assets/partA/0051.webp)
url(../assets/partA/0052.webp)
url(../assets/partA/0053.webp)
url(../assets/partA/0054.webp)
url(./fonts/Archivo-VariableFont_wdth\,wght.ttf); 
}